*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, #cfecd0, #ffc5ca);
    width: 100vh;
    height: 100vh;
}

input[type="date"] {
    background-color: #1a73e8;
    padding: 15px;
    transform: translate(-50%, -50%);
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
}

button {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 170px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #1a73e8;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    z-index: 1;
}

button:hover {
    box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%), 0 1px 3px 1px rgb(26 115 232 / 30%);
    background-color: #297be6;
}

button:active {
    box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%), 0 2px 6px 2px rgb(26 115 232 / 30%);
    background-color: #1a73e8 !important;
}

button:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}

.resultContainer {
    height: 80px;
    width: 170px;
    vertical-align: top;
    padding: 0 15px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    background-color: #1a73e8;
    overflow: hidden;
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    font-size: 13px;
}

